## Import Packages

In [2]:
import statsmodels.api as sm 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

## Data Frame

In [3]:
data = pd.read_csv('Meddicorp.csv', usecols=['SALES', 'BONUS', 'MKTSHR', 'REGION']) 
data.head()

     SALES  BONUS  MKTSHR   REGION
0  1467.50  29.10      28  Midwest
1  1122.50  27.14      30     West
2  1700.25  30.90      32  Midwest
3  1078.25  23.84      20    South
4   750.00  20.00      28    South

In [4]:
data.dtypes

SALES     float64
BONUS     float64
MKTSHR      int64
REGION     object
dtype: object

## Generate Dummy Variables

In [5]:
dummy = pd.get_dummies(data['REGION'], drop_first=True)

In [6]:
data = pd.concat([data, dummy], axis=1)
data.head()

     SALES  BONUS  MKTSHR   REGION  South  West
0  1467.50  29.10      28  Midwest      0     0
1  1122.50  27.14      30     West      0     1
2  1700.25  30.90      32  Midwest      0     0
3  1078.25  23.84      20    South      1     0
4   750.00  20.00      28    South      1     0

## Split X, Y variables

In [7]:
X1 = data[['BONUS','MKTSHR', 'South', 'West']]
y = data['SALES']

In [8]:
X = sm.add_constant(X1) 
model = sm.OLS(y, X).fit()

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

## Generate Regression Report

In [9]:
model_details = model.summary()
print(model_details)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  SALES   R-squared:                       0.910
Model:                            OLS   Adj. R-squared:                  0.899
Method:                 Least Squares   F-statistic:                     90.45
Date:                Tue, 01 Sep 2020   Prob (F-statistic):           2.88e-18
Time:                        21:03:23   Log-Likelihood:                -243.37
No. Observations:                  41   AIC:                             496.7
Df Residuals:                      36   BIC:                             505.3
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        682.0797    217.739      3.133      0.003     240.485    1123.674
BONUS         23.4087      6.369      3.675      0.001      10.492      36.326
MKTSHR         6.4231      5.311      1.209      0.234      -4.348      17.194
South       -459.9708     53.370     -8.618      0.000    -568.211    -351.730
West        -318.0817     45.139     -7.047      0.000    -409.628    -226.536
==============================================================================
Omnibus:                       14.749   Durbin-Watson:                   1.980
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               21.179
Skew:                          -1.013   Prob(JB):                     2.52e-05
Kurtosis:                       5.880   Cond. No.                         590.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.